@charset "ISO-8859-1";

a.main_button {
    width: 20%;
    float: right;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 13px;
    font-size: 1.0em;
    background-color: #1EC3C8;
    border-radius: 3px;
    z-index: 999999999;
    display: block;
}
